
.icon-mail:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
